<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"
                ng-click="app.go('app.viewissues')"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Create ticket</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <select-list data-comp-id="selectList.1" ng-model="data.category">Input Label</select-list>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <label class="item item-input" data-comp-id="textInput.1">
                    <span class="input-label">Label</span>
                    <input ng-model="data.summary" type="text">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>